/*
	My custom settings. These variables are copied from _settings.css
	This file will only contain uncommented settings that are actually used in the theme.
*/

$row-width: rem-calc(1000);
$total-columns: 12;
$column-gutter: rem-calc(30);

// colors
$orange: #ef4b26;
$blue: #00abc4;
$white: #FBFBFB;
$turquoise: #00a79d;
$black: #515153;
$charcoal: $black;
$font-family-sans-serif: "Century Gothic", Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;
$primary-color: $orange;
$secondary-color: $blue;

$body-bg: $white;
$body-font-color: $black;
$body-font-family: $font-family-sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;

$font-smoothing: antialiased;

$header-font-color: $blue;
$blockquote-font-color: scale-color($black, $lightness: 35%);
$blockquote-padding: rem-calc(9 20 0 19);
$blockquote-border: 1px solid #ddd;
$blockquote-cite-font-size: rem-calc(13);

$header-line-height: 1.4;
$anchor-font-color: $primary-color;

$topbar-bg-color: rgba(255,255,255,0.95);
$topbar-height: rem-calc(50);
// $topbar-margin-bottom: 2em;

// Controlling the styles for the title in the top bar
// $topbar-title-weight: $font-weight-normal;
// $topbar-title-font-size: rem-calc(17);

// Set the link colors and styles for top-level nav
$topbar-link-color: $orange;
$topbar-link-color-hover: $blue;
$topbar-link-color-active: $blue;
$topbar-link-hover-lightness: -10%; // Darken by 10%
$topbar-menu-link-transform: uppercase;
$topbar-menu-icon-color: $black;

// Controlling the styles for the title in the top bar
$topbar-title-weight: $font-weight-normal;
$topbar-title-font-size: rem-calc(18);

// Set the link colors and styles for top-level nav
// $topbar-link-color: $white;
$topbar-link-color-hover: $white;
$topbar-link-color-active: $orange;
// $topbar-link-color-active-hover: $white;
$topbar-link-weight: $font-weight-normal;
$topbar-link-font-size: rem-calc(15);
// $topbar-link-hover-lightness: -10%; // Darken by 10%
$topbar-link-bg: transparent;
$topbar-link-bg-hover: $orange;
// $topbar-link-bg-color-hover: $charcoal;
$topbar-link-bg-active: transparent;
// $topbar-link-bg-active-hover: scale-color($primary-color, $lightness: -14%);
// $topbar-link-font-family: $body-font-family;
$topbar-link-text-transform: uppercase;

$small-breakpoint:  em-calc(640);
$medium-breakpoint: em-calc(1024);
$topbar-breakpoint: em-calc(820);
$large-breakpoint:  em-calc(1440);
$xlarge-breakpoint: em-calc(1920);
